<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
</head>
<body>
<h1>Select a Currency</h1>

<form action="/convert" method="post">
    <label for="fromCurrency">Choose a currency:</label>
    <select id="fromCurrency" name="fromCurrency">
        <!-- Iterate over the list of currencies passed from the controller -->
        <option th:each="currency : ${currencies}"
                th:value="${currency}"
                th:text="${currency}"></option>
    </select>
    <br/>
    <label for="amount">Enter the amount: </label>
    <input id="amount" name="amount">
    <br/>
    <label for="toCurrency">Choose a currency you want it to convert to</label>
    <select id="toCurrency" name="toCurrency">
        <option th:each="toCurrency : ${currencies}"
                th:value="${toCurrency}"
                th:text="${toCurrency}"></option>
    </select>
    <button type="submit">Convert</button>
</form>
</body>
</html>
